@{
    ViewBag.Title = "Logic";
}

<html>

<head>
    <title>登录</title>
</head>
<body>
    

    <form action="~/Home/Logic" method="post">
        用户名：    <input name="Name" type="text" /><br />
        密码：    <input name="Paw" type="password" />
        <input type="submit" />
    </form>
</body>

</html>

